# Environment variables
src/.env

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Local data exports
data/

# Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db